@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v14-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: rgb(1, 78, 86);
  font-family: "livvik", sans-serif;
}

.site-header {
  padding: 73px 0 129px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-item {
  display: flex;
  gap: 80px;
  align-items: center;
}

.site-item a {
  color: white;
  font-family: "Livvic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  transition: all 0.4s linear;
}

.nav-btn {
  min-width: 153px;
  font-family: "Livvic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  padding: 9px 0 11px;
  transition: all 0.4s linear;
  display: block;
}

.nav-btn:hover {
  background: white;
  color: rgb(1, 78, 86);
}

.site-item a:hover {
  color: #F67E7E;
}

.menu {
  display: none;
  border: none;
  background-color: transparent;
}

@media (max-width: 763px) {
  .nav-item {
    gap: 48px;
  }
  .nav-item a img {
    width: 127px;
    height: 32px;
  }
  .site-header {
    padding: 64px 0 112px;
  }
}
@media (max-width: 600px) {
  .site-header {
    padding: 48px 0 80px;
  }
  .nav-list {
    display: none;
  }
  .nav-btn {
    display: none;
  }
  .menu {
    display: block;
  }
}
.hero-section {
  background-image: url("../images/hero-bg1.png");
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: calc(50% - 740PX) top;
}

.hero-section-item {
  display: flex;
  justify-content: space-between;
}

.hero-title {
  max-width: 605px;
  height: 200px;
}

.hero-title h2 {
  font-family: "Livvic", sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  text-align: left;
  color: #FFF;
}

.hero-title h2 span {
  color: #F67E7E;
}

.hero-section-text {
  width: 100%;
  background-image: url("../images/hero-bg2.png");
  background-repeat: no-repeat;
  background-size: 358px 100px;
  background-position: right bottom;
  padding-bottom: 250px;
}

.hero-section-text span {
  margin-bottom: 79px;
  display: inline-block;
  width: 50px;
  height: 4px;
  background: rgb(121, 200, 199);
}

.hero-section-text p {
  font-family: "Livvic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: white;
}

@media (max-width: 820px) {
  .hero-section-item {
    flex-direction: column;
    align-items: center;
  }
  .hero-title h2 {
    font-size: 64px;
    line-height: 56px;
    text-align: center;
  }
  .hero-section-text p {
    text-align: center;
  }
  .hero-section-text {
    background-position: center;
  }
  .hero-section-text span {
    display: none;
  }
}
@media (max-width: 600px) {
  .hero-section-item {
    flex-direction: column;
    align-items: center;
  }
  .hero-title h2 {
    font-size: 64px;
    line-height: 56px;
    text-align: center;
  }
  .hero-section-text p {
    text-align: center;
  }
  .hero-section-text {
    width: 100%;
    background-position: center;
  }
  .hero-section-text span {
    display: none;
  }
}
.build-section {
  padding-top: 140px;
  padding-bottom: 140px;
  background: rgb(1, 47, 52);
  background-image: url("../images/build-bg.png");
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background-position: right bottom;
}

.build-section-items {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.build-item1 {
  max-width: 445px;
}

.build-item1 h2 {
  font-family: "Livvic", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: white;
}

.build-item1 span {
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  margin-bottom: 54px;
}

.build-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.build-list-item {
  display: flex;
  align-items: center;
  gap: 23px;
}

.build-list-item div h3 {
  font-family: "Livvic", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #F67E7E;
  margin-bottom: 16px;
}

.build-list-item div p {
  color: white;
  font-family: "Livvic", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

.build-list-item div {
  max-width: 445px;
}

@media (max-width: 1027px) {
  .build-section {
    padding: 100px 98px;
  }
  .build-list {
    align-items: start;
  }
  .build-section-items {
    flex-direction: column;
    gap: 64px;
  }
}
@media (max-width: 605px) {
  .build-section {
    padding: 64px 0;
    background-position: right top;
  }
  .build-item1 {
    max-width: 100%;
  }
  .build-item1 > h2 {
    text-align: left;
  }
  .build-list-item {
    flex-direction: column;
    align-items: center;
  }
  .build-list-item > div > h3, .build-list-item p {
    text-align: center;
  }
}
.deliveing-section {
  background-color: #014E56;
  background-image: url("../images/delivering-bg3.png"), url("../images/delivering-bg2.png");
  background-repeat: no-repeat;
  background-size: 174px 100px, 200px 100px;
  background-position: left top, right bottom;
  padding: 140px 0;
}

.deliveing-section h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: white;
}

.delivering-title {
  margin: 0 auto;
  max-width: 932px;
  margin-bottom: 30px;
}

.deliveing-section h2 span {
  color: #79C8C7;
}

.delivering-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.delivering-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  gap: 24px;
}

.delivering-list-item p {
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  color: white;
}

.delivering-list-item h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
}

.delivering-list-item img {
  width: 62px;
  height: 62px;
}

.delivering-list-item strong {
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: white;
}

.qoshtirnoq {
  margin-bottom: -50px;
}

@media (max-width: 850px) {
  .deliveing-section {
    padding: 100px 0;
  }
  * {
    text-align: center;
  }
  .delivering-list {
    flex-direction: column;
  }
  .delivering-list-item {
    width: 100%;
  }
  .deliveing-section h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
  }
}
.ready-section {
  background-image: url("../images/ready-bg.png");
  background-color: #F67E7E;
  background-repeat: no-repeat;
  background-size: 200px 122px;
  background-position: left bottom;
}

.ready-section-items {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ready-section-items h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #014E56;
  font-family: "livvic", sans-serif;
}

.delivering-btn {
  min-width: 153px;
  font-family: "Livvic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  padding: 9px 0 11px;
  transition: all 0.4s linear;
  display: block;
}

.delivering-btn:hover {
  background: white;
  color: rgb(1, 78, 86);
}

@media (max-width: 740px) {
  .ready-section-items {
    flex-direction: column;
  }
}
@media (max-width: 602px) {
  .ready-section {
    padding: 83px 0 83px;
  }
  .ready-section-items {
    justify-content: center;
    gap: 10px;
  }
}
.site-footer {
  background: #002529;
  color: white;
  padding: 48px 0;
}

.footer-item {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  gap: 70px;
}

.footer-div1 ul {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.footer-div1 ul li a {
  transition: all 0.4s linear;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: white;
  font-weight: 600;
}

.footer-div1 ul li a:hover {
  color: #F67E7E;
}

.footer-item2 {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  font-family: "livvic", sans-serif;
}

.footer-list1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 192px;
}

.facebook {
  color: white;
  transition: all 0.4s linear;
}

.facebook:hover {
  color: #F67E7E;
}

.pinterest {
  color: white;
  transition: all 0.4s linear;
  margin: 0 10px;
}

.pinterest:hover {
  color: #F67E7E;
}

.twitter {
  color: white;
  transition: all 0.4s linear;
}

.twitter:hover {
  color: #F67E7E;
}

@media (max-width: 660px) {
  .footer-list {
    width: 100%;
    justify-content: space-between;
    gap: 10px;
  }
  .footer-item {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .logo-footer {
    width: 95px;
    height: 24px;
  }
  .footer-item li {
    text-align: right;
  }
}
.hero-section-about {
  background-image: url("../images/about-hero-bg.png");
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background-position: right bottom;
  padding-bottom: 120px;
}

.hero-about-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.hero-about-item h2 {
  font-family: "Livvic", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 100px;
  text-align: left;
  color: white;
}

.about-text {
  width: 730px;
}

.about-text span {
  display: inline-block;
  width: 50px;
  height: 4px;
  background: #F67E7E;
  margin-bottom: 40px;
}

.about-text p {
  font-family: "Livvic", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: white;
}

.meet-section {
  background-color: #004047;
  background-image: url("../images/contact-bg1.png"), url("../images/delivering-bg3.png");
  padding: 140px 0 140px;
  background-repeat: no-repeat;
  background-size: 100px 200px, 147px 100px;
  background-position: left top, right bottom;
}

.meet-section h2 {
  font-family: "Livvic", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: white;
  margin-bottom: 64px;
}

.meet-list {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 72px;
}

.meet-list li {
  transition: all 0.4s linear;
  padding: 32px 48px;
  width: 350px;
  height: 253px;
  background-color: #012F34;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.meet-list li div a {
  color: white;
  transition: all 0.3s linear;
}

.meet-list li div a:hover {
  color: #F67E7E;
}

.meet-list li:hover {
  background: #002529;
}

.meet-list p {
  text-align: center;
  color: white;
  margin-top: 8px;
  margin-bottom: 28px;
}

.meet-list li button {
  width: 56px;
  height: 56px;
  color: #002529;
  font-size: 30px;
  background: #F67E7E;
  border: none;
  border-radius: 50%;
  margin-bottom: -60px;
  transition: all 0.4s linear;
}

.meet-list li button:hover {
  rotate: 45deg;
  background-color: #79C8C7;
}

.clients-section {
  padding: 140px 0 140px;
  background-color: #012F34;
  background-image: url("../images/clients-bg.png");
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: calc(50% - 870px) top;
}

.clients-section h2 {
  margin-bottom: 64px;
  font-family: "Livvic", sans-serif;
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */