.deliveing-section {
    background-color: #014E56;
    background-image: url("../images/delivering-bg3.png"), url("../images/delivering-bg2.png");
    background-repeat: no-repeat;
    background-size:  174px 100px, 200px 100px; 
    background-position: left top, right bottom;
    padding: 140px 0;
}
.deliveing-section h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: white;
}
.delivering-title{
    margin: 0 auto;
    max-width: 932px;
    // margin-top: 140px ;
    margin-bottom: 30px;
}
.deliveing-section h2 span{
    color: #79C8C7;
}
.delivering-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.delivering-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    gap: 24px;
}
.delivering-list-item p{
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    color: white;
}
.delivering-list-item h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;    
}
.delivering-list-item img{
    width: 62px;
    height: 62px;
}
.delivering-list-item strong{
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: white;
}
.qoshtirnoq {
    margin-bottom: -50px;
}
@media (max-width:850px){
    .deliveing-section{
        padding: 100px 0;
    }
    *{
        text-align: center;
    }
    .delivering-list{
        flex-direction: column;
    }
    .delivering-list-item{
        width: 100%;
    }
    .deliveing-section h2{
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        
    }
}