.hero-section-contact {
    padding-bottom: 128px ; 
    background-repeat: no-repeat;
    background-size: 100px 200px , 100px 200px;
    background-image: url("../images/contact-bg.png"), url('../images/contact-bg1.png');
    background-position:right bottom ,left top ;  
}
.site-conact-main-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

}