.about-text{
    width: 730px;
}
.about-text span{
    display: inline-block;
    width: 50px;
    height: 4px;
    background: #F67E7E;
    margin-bottom: 40px;
}
.about-text p{
    font-family: 'Livvic',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: white;
}