.clients-section{
    padding: 140px 0 140px;
    background-color: #012F34;
    background-image: url("../images/clients-bg.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: calc(50% - 870px) top;
}
.clients-section h2{
    margin-bottom: 64px;
    font-family: 'Livvic',sans-serif;
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;

}