.hero-section-about{
    background-image: url("../images/about-hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100px 200px;
    background-position: right bottom;
    padding-bottom: 120px;
}
.hero-about-item{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.hero-about-item h2{
    font-family: 'Livvic',sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 100px;
    text-align: left;
    color: white;
}